.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service {
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .service {
    flex-direction: row;
  }
}

.business-text {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (min-width: 900px) {
  .business-text {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) {
  .business-image {
    height: auto;
    width: 60%;
  }
}

.business-text {
  padding-left: 20px;
  padding-right: 20px;
}

.horizontal-list {
  flex-direction: column;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .horizontal-list {
    flex-direction: row;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 10px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

a {
  font-size: 15px;
}

li {
  font-size: 15px;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 42px;
  }

  p {
    font-size: 26px;
  }

  a {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }
}

.hidden-deskop {
  display: block;
}

@media only screen and (min-width: 900px) {
  .hidden-desktop {
    display: none;
  }
}

.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 900px) {
  .hidden-mobile {
    display: block;
  }
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */
